<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agencia de viajes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
</head>
<body class="p-0">
<div class="container-fluid p-0 m-0">
    <!-- ENCABEZADO -->
    {{> navegacion}}
    <div id="adminContainer">
        <div>
            <h3>Bienvenido al área de administración</h3>
            <p>Desde aquí podrás crear o gestionar viajes ya existentes</p>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Viaje</th>
                    <th>Fechas</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Activado</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {{#if rowTravels}}
                    {{#each rowTravels}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.travel}}</td>
                            <td></td>
                            <td>{{this.description}}</td>
                            <td>
                                <form action="/multer/upload/{{this.id}}" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file"/><input type="submit" name="subeImg" value="Subir">
                                </form>
                            </td>
                            <td>{{this.price}}</td>
                            <td>{{this.active}}</td>
                            <td><a href="/eliminaviaje/{{this.id}}" class="linkEliminaViaje" id="viaje-{{this.id}}">Elimina</a></td>
                        </tr>
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
            <form action="/insviaje" method="post" id="adminAnyadir">

                <div class="row">
                    <div class="col-3 flex-column">
                        <label for="travel" class="d-block">Viaje</label>
                        <input type="text" name="travel" class="w-100">
                    </div>

                    <div class="col-4 flex-column">

                        <label for="description" class="d-block">Descripción</label>
                        <input type="text" name="description" class="w-100">

                    </div>

                    <div class="col-2 flex-column">

                        <label for="price" class="d-block">Precio</label>
                        <input type="text" name="price" class="w-100">

                    </div>

                    <div class="col-1 flex-column">

                        <label for="active" class="d-block">Activo</label>
                        <input type="checkbox" name="active" class="checkbox">

                    </div>

                    <div class="col-2 flex-column">

                        <label for="type" class="d-block">Tipo</label>
                        <input type="text" name="type" class="w-100">

                    </div>
                </div>

                <input type="submit" class="btn btn-info" value="Añadir" />
            </form>

        </div>
    </div>

    {{> footer}}
    {{> librerias}}